public/HUMAN.EXE-IA-main/CP02_2S.json
{
  "name": "CP02_2S",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9725b93f-b5ef-4535-8b43-8789e67dbb7f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        48
      ],
      "id": "01474d22-f292-4873-8621-f76d75ab4af8",
      "name": "Webhook",
      "webhookId": "9725b93f-b5ef-4535-8b43-8789e67dbb7f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52ba5929-dd19-4acf-8a57-2a7b6c3d42a6",
              "name": "message",
              "value": "=={{ $json.body.text || $json.query.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        48
      ],
      "id": "3597970a-ea42-4b8d-ba9f-4fc4c58a0336",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.message || $json.body?.text || $json.query?.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um classificador de intenções. Decida se o usuário quer GERAR UMA IMAGEM.\nResponda APENAS usando o formato exigido pelo parser conectado (campos: gera_imagem, motivo, prompt).\n- gera_imagem: \"sim\" ou \"nao\"\n- motivo: explique a decisão em 1 frase\n- prompt: preencha apenas se \"gera_imagem\" = \"sim\". Escreva um prompt claro e objetivo para o gerador de imagens.\nNão escreva nada além do JSON esperado.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -688,
        32
      ],
      "id": "662bd41b-0da9-4fc8-b605-ac26afaea5ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -960,
        544
      ],
      "id": "f6e4c756-6a1d-421e-82ba-ae9216bb0a6e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2MISlRkrBLVjdohs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{$json.output.prompt}}",
        "options": {
          "style": "vivid",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -112,
        352
      ],
      "id": "ee641f0b-bccc-4b74-b29b-52abe7a5943a",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "2MISlRkrBLVjdohs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"status\": \"{{ $json.url ? 'success' : 'error' }}\",\n  \"data\": {\n    \"message\": \"{{ $json.url ? 'Aqui está sua imagem!' : 'Não foi possível gerar a imagem.' }}\",\n    \"imageUrl\": \"{{ $json.url || '' }}\",\n    \"prompt\": \"{{ $json.revised_prompt || '' }}\"\n  },\n  \"info\": {\n    \"stage\": \"{{ $json.url ? 'preview' : 'failed' }}\",\n    \"timestamp\": \"{{$now}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        368
      ],
      "id": "018ef34c-0add-4258-89f3-c2c45050d0f3",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"gera_imagem\": \"sim | nao\",\n  \"motivo\": \"string\",\n  \"prompt\": \"string (apenas se gera_imagem = sim)\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        432
      ],
      "id": "4a77ee16-4069-4ef3-99a6-03798d58ee04",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output.gera_imagem}}",
                    "rightValue": "não",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "911b23d0-8b74-4638-ae7a-4b82224141c7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resposta por texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3250fa15-ad92-401a-b7db-15973009fcd7",
                    "leftValue": "={{$json.output.gera_imagem}}",
                    "rightValue": "sim",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resposta por imagem"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -336,
        32
      ],
      "id": "f24279ec-fe94-4ae9-8222-e32284d3c11f",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.message || $json.body?.text || $json.query?.text }}",
        "options": {
          "systemMessage": "Você é um assistente de texto. Responda ao usuário em 1–2 frases curtas e claras, SEM gerar imagens. Use o campo \"motivo\" quando disponível como base da resposta.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "9a173738-b675-4baa-bd72-df91843a0d0b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={\n  \"session\": $json.session || {},\n  \"data\": { \"message\": $json.output?.motivo || $json.output || $json.text || \"Tudo certo!\" },\n  \"info\": { \"stage\": \"selectCharacter\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        0
      ],
      "id": "2255ee7a-01b1-489e-9d36-c15bcadb64bc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecba9a18-951c-47bf-9a31-119fd8e0afba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a001348403c299dad7ffea46d728753b3c0ce3fac143f3169fb0aed27c579fb4"
  },
  "id": "dT2tGf4fkmYIwkuL",
  "tags": []
}